openapi: 3.1.0
info:
  title: GitHub Repository Scorer API
  version: 1.0.0
  description: API for scoring GitHub repositories on the basis of stars, forks and recency of updates.

servers:
  - url: /api/v1

paths:
  /repositories:
    get:
      summary: Get scored repositories filtered by language & created after date
      description: Returns GitHub repositories scored by popularity metrics.
      parameters:
        - name: language
          in: query
          required: true
          description: Repository language to filter by
          schema:
            type: string

        - name: created_after
          in: query
          required: true
          description: >
            Returns only those repositories that were created after this date
            (ISO format, YYYY-MM-DD)
          schema:
            type: string
            format: date

        - name: page
          in: query
          required: false
          description: Page number, defaults to 1
          schema:
            type: integer
            minimum: 1
            default: 1

        - name: page_size
          in: query
          required: false
          description: Number of results returned per page, defaults to 100
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 100

      responses:
        "200":
          description: Successfully retrieved scored repositories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoredRepositoriesResponse'

        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ScoredRepositoriesResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: total matches found
          example: 100
        page:
          type: integer
          description: page number
          example: 1
        page_size:
          type: integer
          description: number of results per page
          example: 10
        repositories:
          type: array
          items:
            $ref: '#/components/schemas/ScoredRepository'
      required:
        - total_count
        - page_size
        - page
        - repositories

    ScoredRepository:
      type: object
      properties:
        id:
          type: integer
          description: Repository id
          example: 123
        name:
          type: string
          description: Repository name
          example: "my-repo"
        description:
          type: string
          description: Repository description
          example: "Repository for demonstration"
        score:
          type: number
          description: Popularity score
          format: double
          example: 95.5
        language:
          type: string
          description: Repository programming language
          example: "Java"
        created_at:
          type: string
          description: Repository creation date
          format: date-time
          example: "2025-11-17ZT12:00:00"
        updated_at:
          type: string
          description: Repository updation date
          format: date-time
          example: "2025-11-17T12:00:00Z"

    ErrorResponse:
      type: object
      properties:
        message:
          type: string
      example:
        message: "Page size must be less than 10. Only first 1000 repositories are returned"
